<header class="d-flex justify-content-between align-items-center p-3 mb-3 shadow-sm bg-light rounded">
    <div class="d-flex align-items-center">
        <span class="fs-4 me-3">🤖 Chat Assistant</span>
        <!-- <button class="btn btn-primary me-2" routerLink="/list-urls">List URLs</button> -->
    </div>

    <div class="d-flex">
        <!-- <button class="btn btn-primary me-2" (click)="openSettings()">List URLs</button> -->
        <!-- <button class="btn btn-danger" (click)="logout()">Logout</button> -->
    </div>
</header>